
body {
  background-color: rgba(158, 226, 255, 0.7);
}

.title {
  margin: 3em;
}
.userInput {
  margin: 1em 0 5em 3em;
  height: 4em;
}
.conteiner {
  position: relative;
  max-width: 90%;
  /*background-color: rgba(158, 226, 255, 0.7);*/
  height: 100%;
}
.playerIcons {
  height: 100%;
}
.sharkIcons {
  height: 100%;
}
.sharks {
  height:20%;
  width: 5%;
  position: absolute;
  bottom: -35%;
  left: 50%;
  animation: sharkMove 5s infinite;
}
/*.sharks2 {
  height:20%;
  width: 5%;
  position: absolute;
  background-color: lightgreen;
  bottom: -35%;
  left: 50%;
  animation: sharkMove 5s infinite;
}*/
.player1, .player2 {
  height: 10%;
  width: 10%;
  margin: 2em;
  position: absolute;
}
.player1 {
  /*background-color: red;*/
  top: 25em;
  left: 1%;
}
.player2 {
  /*background-color: blue;*/
  top: 40em;
  left: 1%;
}

.goalLine {
  width: .5em;
  height: 30em;
  background-color: yellow;
  position: absolute;
  left: 90%;
}


@keyframes sharkMove {
  0% {bottom: -35%; left: 50%;}
  50% {bottom: 40%; left: 50%; transform: rotate(180deg)}
  100% {bottom: -35%; left: 50%; transform: rotate(180deg)}
}
/*@keyframes sharkMove {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 0px; left: 0px;}
    75%  {top: 50px; left: 0px;}
    100% {top: 100px; left: 0px;}
}*/
