
body {
  background-color: rgba(158, 226, 255, 0.7);
}
h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  color: #333;
  margin: .8em 0 .5em;
  font-size: 15em;
  background-image: url("../img/cloud4.png");
  background-size: contain;
}
p span {
  color: red;
}
div {
  font-family: 'Shrikhand', cursive;
}
.swal-width {
  width: 800px; !important;
}
.p1LapsLeft, .p2LapsLeft {
  font-size: 4em;
  color: #222;
}
.title {
  margin: 2em 0 1em;;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 5em;
  color: #333;
}
.scoreBoard {
  text-align: center;
  height: 1.5em;
  font-size: 8em;
  margin: 0 0 .5em 0;
}
.playerLogos {
  height: 1em;
}
.playerLogosHead {
  height: 2em;
}
.player1Score, .player2Score {
  background-image: url("../img/cloud2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border: 3px solid rgba(158, 226, 255, 0.7);*/
  height: 2.5em;
  padding-top: .2em;
  top:0;
  padding-right: .5em;
}
.userInput {
  /*margin: 1em 0 1em 3em;
  height: 1em;*/
}
.startBtn, .resetBtn {
  height: 3em;
  background-color: lightblue;
  text-align: center;
  margin: 1em 3em;
  font-size: 4em;
  padding-top: .6em;
  /*border: 5px solid rgba(158, 226, 255, 0.7);*/
  border-radius: 40px;
}
.resetBtn:hover {
  background-color: blue;
  color: #eee;
}
.startBtn:hover {
  background-color: blue;
  color: #eee;
}
.btnBoard {
  margin: 0 auto;
}
.conteiner {
  position: relative;
  max-width: 90%;
  /*background-color: rgba(158, 226, 255, 0.7);*/
  height: 100%;
}
.playerIcons {
  height: 100%;
}
.sharkIcons {
  height: 100%;
}
.sharks1 {
  height:10%;
  position: absolute;
  bottom: -35%;
  left: 15%;
  animation: sharkMove1 4s infinite;
}
.sharks2 {
  height:13%;

  position: absolute;
  bottom: -35%;
  left: 35%;
  animation: sharkMove2 6s infinite;
}
.sharks3 {
  height:12%;
  position: absolute;
  bottom: -35%;
  left: 50%;
  animation: sharkMove3 5s infinite;
}
.sharks4 {
  height:13%;
  position: absolute;
  bottom: -35%;
  left: 70%;
  animation: sharkMove4 3.5s infinite;
}
.sharks5 {
  height:12%;
  position: absolute;
  bottom: -35%;
  left: 85%;
  animation: sharkMove5 4s infinite;
}
.sharks {
  height:8%;
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: rotate(-45deg);
}
/*.sharks2 {
  height:20%;
  width: 5%;
  position: absolute;
  background-color: lightgreen;
  bottom: -35%;
  left: 50%;
  animation: sharkMove 5s infinite;
}*/
.player1, .player2 {
  height: 10%;
  width: 10%;
  margin: 2em;
  position: absolute;
}
.player1 {
  /*background-color: red;*/
  top: 50em;
  left: 0%;
}
.player2 {
  /*background-color: blue;*/
  top: 67em;
  left: 0%;
}

.goalLine {
  width: .2em;
  height: 60%;
  top: 45%;
  background-color: #EEE82C;
  position: absolute;
  left: 90%;
  border-radius: 15px;
  font-size: 5em;
  color: red;
  opacity: 0;
}
.waveImg {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 50%;
  width: 140%;
  animation: waveMove1 7s infinite;
  opacity: .35;
}
.waveImg1 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 55%;
  width: 140%;
  animation: waveMove1 7s infinite;
  opacity: .45;
}
.waveImg2 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 60%;
  width: 140%;
  animation: waveMove2 8s infinite;
  opacity: .55;
}
.waveImg3 {
  position: absolute;
  height: 10%;
  left: -30%;
  top: 65%;
  width: 140%;
  animation: waveMove2 8s infinite;
  opacity: .7;
}
.waveImg4 {
  position: absolute;
  height: 10%;
  left: -30%;
  top: 70%;
  width: 140%;
  animation: waveMove1 11s infinite;
  opacity: .8
}
.waveImg5 {
  position: absolute;
  height: 10%;
  left: -30%;
  top: 75%;
  width: 140%;
  animation: waveMove1 11s infinite;
  opacity: .7;
}
.waveImg6 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 80%;
  width: 140%;
  animation: waveMove2 13s infinite;
  opacity: .8
}
.waveImg7 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 85%;
  width: 140%;
  animation: waveMove2 13s infinite;
  opacity: .7;
}
.waveImg8 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 90%;
  width: 140%;
  animation: waveMove1 14s infinite;
  opacity: .8;
}
.waveImg9 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 95%;
  width: 140%;
  animation: waveMove1 14s infinite;
  opacity: .7;
}
.waveImg10 {
  position: absolute;
  height: 10%;
  left: -10%;
  bottom: -5%;
  width: 140%;
  animation: waveMove1 15s infinite;
  opacity: .7;
}

@keyframes sharkMove1 {
  0% {bottom: -35%; left: 15%;}
  /*40% {bottom: 40%; left: 40%; height: 80%; transform: rotate(0deg)}*/
  50% {bottom: 30%; left: 15%;}
  100% {bottom: -35%; left: 15%;}
}
@keyframes sharkMove2 {
  0% {bottom: -35%; left: 35%; }
  /*40% {bottom: 40%; left: 40%; height: 80%; transform: rotate(0deg)}*/
  50% {bottom: 30%; left: 35%; transform: rotate(180deg)}
  100% {bottom: -35%; left: 35%; transform: rotate(180deg)}
}
@keyframes sharkMove3 {
  0% {bottom: -35%; left: 50%; transform: rotate(-45deg)}
  /*40% {bottom: 40%; left: 40%; height: 80%; transform: rotate(0deg)}*/
  50% {bottom: 30%; left: 50%; transform: rotate(-45deg)}
  100% {bottom: -35%; left: 50%; transform: rotate(-45deg))}
}
@keyframes sharkMove4 {
  0% {bottom: -35%; left: 70%; }
  /*40% {bottom: 40%; left: 40%; height: 80%; transform: rotate(0deg)}*/
  50% {bottom: 30%; left: 70%; }
  100% {bottom: -35%; left: 70%; )}
}
@keyframes sharkMove5 {
  0% {bottom: -35%; left: 85%; }
  /*40% {bottom: 40%; left: 40%; height: 80%; transform: rotate(0deg)}*/
  50% {bottom: 30%; left: 85%; }
  100% {bottom: -35%; left:85%; )}
}
@keyframes waveMove1 {
  0% {left: -10%;}
  50% {left: -30%;}
  100% {left:-10%;}
}

@keyframes waveMove2 {
  0% {left: -30%;}
  50% {left: -10%;}
  100% {left:-30%;}
}
/*@keyframes sharkMove {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 0px; left: 0px;}
    75%  {top: 50px; left: 0px;}
    100% {top: 100px; left: 0px;}
}*/
