
body {
  background-color: rgba(158, 226, 255, 0.7);
}
h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  color: #333;
  margin: .8em 0 .5em;
  font-size: 15em;
}
p span {
  color: red;
}
div {
  font-family: 'Shrikhand', cursive;
}
.title {
  margin: 2em 0;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 5em;
  color: #333;
}
.scoreBoard {
  text-align: center;
  height: 5em;
  font-size: 3em;
}
.userInput {
  margin: 1em 0 5em 3em;
  height: 4em;
}
.startBtn, .resetBtn {
  height: 3em;
  background-color: lightblue;
  text-align: center;
  margin: 1em 3em;
  font-size: 4em;
  padding-top: .6em;
  border: 5px solid rgba(158, 226, 255, 0.7);
  border-radius: 40px;
}
.resetBtn:hover {
  background-color: blue;
  color: #eee;
}
.startBtn:hover {
  background-color: blue;
  color: #eee;
}
.btnBoard {
  margin: 0 auto;
}
.conteiner {
  position: relative;
  max-width: 90%;
  /*background-color: rgba(158, 226, 255, 0.7);*/
  height: 100%;
}
.playerIcons {
  height: 100%;
}
.sharkIcons {
  height: 100%;
}
.sharks {
  height:20%;
  width: 5%;
  position: absolute;
  bottom: -35%;
  left: 50%;
  animation: sharkMove 5s infinite;
}
/*.sharks2 {
  height:20%;
  width: 5%;
  position: absolute;
  background-color: lightgreen;
  bottom: -35%;
  left: 50%;
  animation: sharkMove 5s infinite;
}*/
.player1, .player2 {
  height: 10%;
  width: 10%;
  margin: 2em;
  position: absolute;
}
.player1 {
  /*background-color: red;*/
  top: 50em;
  left: 1%;
}
.player2 {
  /*background-color: blue;*/
  top: 67em;
  left: 1%;
}

.goalLine {
  width: .5em;
  height: 30em;
  background-color: yellow;
  position: absolute;
  left: 90%;
}
.waveImg {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 50%;
  width: 140%;
  animation: waveMove1 7s infinite;
  opacity: .35;
}
.waveImg1 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 55%;
  width: 140%;
  animation: waveMove1 7s infinite;
  opacity: .45;
}
.waveImg2 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 60%;
  width: 140%;
  animation: waveMove2 8s infinite;
  opacity: .55;
}
.waveImg3 {
  position: absolute;
  height: 10%;
  left: -30%;
  top: 65%;
  width: 140%;
  animation: waveMove2 8s infinite;
  opacity: .7;
}
.waveImg4 {
  position: absolute;
  height: 10%;
  left: -30%;
  top: 70%;
  width: 140%;
  animation: waveMove1 11s infinite;
  opacity: .8
}
.waveImg5 {
  position: absolute;
  height: 10%;
  left: -30%;
  top: 75%;
  width: 140%;
  animation: waveMove1 11s infinite;
  opacity: .7;
}
.waveImg6 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 80%;
  width: 140%;
  animation: waveMove2 13s infinite;
  opacity: .8
}
.waveImg7 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 85%;
  width: 140%;
  animation: waveMove2 13s infinite;
  opacity: .7;
}
.waveImg8 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 90%;
  width: 140%;
  animation: waveMove1 14s infinite;
  opacity: .8;
}
.waveImg9 {
  position: absolute;
  height: 10%;
  left: -10%;
  top: 95%;
  width: 140%;
  animation: waveMove1 14s infinite;
  opacity: .7;
}
.waveImg10 {
  position: absolute;
  height: 10%;
  left: -10%;
  bottom: -5%;
  width: 140%;
  animation: waveMove1 15s infinite;
  opacity: .7;
}

@keyframes sharkMove {
  0% {bottom: -35%; left: 50%; }
  /*40% {bottom: 40%; left: 40%; height: 80%; transform: rotate(0deg)}*/
  50% {bottom: 40%; left: 50%; transform: rotate(180deg)}
  100% {bottom: -35%; left: 50%; transform: rotate(180deg)}
}

@keyframes waveMove1 {
  0% {left: -10%;}
  50% {left: -30%;}
  100% {left:-10%;}
}

@keyframes waveMove2 {
  0% {left: -30%;}
  50% {left: -10%;}
  100% {left:-30%;}
}
/*@keyframes sharkMove {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 0px; left: 0px;}
    75%  {top: 50px; left: 0px;}
    100% {top: 100px; left: 0px;}
}*/
